[submodule "tlua"]
	path = tlua
	url = git@github.com:blackbladestudio/tlua.git
[submodule "tlua-language-server"]
	path = tlua-language-server
	url = git@github.com:blackbladestudio/lua-language-server.git
